@font-face {
    font-family: 'IranYekan';
    src: url('/webfonts/iranyekanweblight.html');
    src: url('../webfonts/iranyekanweblight.html') format('embedded-opentype'),
        url('../webfonts/iranyekanweblight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
